* {
  background: #f5d0f2;
}

#main-container {
  border: heavy thick white;
  padding: 1;
  align: center top;
  padding-top: 10;
  width: auto;
  content-align: center middle;
}

Header,
Footer,
Static {
  color: white;
  text-style: bold;
}

#title {
  color: white;
  padding-bottom: 1;
  text-style: bold;
  width: 100%;
  content-align: center middle;
}
LoadingIndicator {
  color: white;
  width: 70%;
  height: auto;
  padding-top: 1;
}
.pink-text {
  color: #ff91f0;
}
#song-title {
  width: auto;
}
#scroll-container {
  width: 50%;
  scrollbar-size: 1 0;
  align: center top;
}
.song-default {
  color: #f6b5f7;
}
.song-downloading {
  /* color: white; */
  color: #f6b5f7;

  text-style: bold;
}
.song-downloaded {
  text-style: bold;
  color: #f788ff;
}

VerticalScroll {
  scrollbar-background: orange;
}
/* Center container */
#text-container {
  width: 100%;
  height: auto;
  align: center middle;
  content-align: center middle;
}
#inner-text-container {
  content-align: center middle;
  border: heavy white;
  height: auto;
  width: 50%;
}
#back-btn,
#download-btn {
  padding: 0;
  margin: 0;
  border: heavy white;
  color: #ff90f0;
  height: auto;
  text-align: center;
  text-style: bold;
}
.append {
  padding: 0;
  margin: 0;
  border: heavy white;
  color: #ff90f0;
  height: auto;
  text-align: center;
  text-style: bold;
  width: 90%;
}

SelectCurrent,
SelectCurrent:focus {
  border: heavy #f8dcf5;
  background: #f8dcf5;
  color: #ff90f0;
  height: auto;
  text-align: center;
  text-style: bold;
  width: 100%;
}

Input {
  padding: 0 0 2 2;
  border: none;
  background: #f8dcf5;
  color: #ff90f0;
  height: auto;
  text-align: center;
  text-style: bold;
  width: 100%;
}
